html {
    overflow: hidden;
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0px 5px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.logo {
    padding: 15px 5px;
    text-align: center;

}

.navbar-options div {
    padding: 15px 15px;
}

.navbar-options {
    display: flex;
}

.homescreen {
    user-select: none;
    padding: 10vh 5vw;
    text-align: center;
}

.card {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.maps-card {
    width: 500px;
    height: 50%;
}

.region-spreadsheet {
    user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 850px;
    width: 90%;
    height: 80%;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.region-spreadsheet-header {
    display: flex;
    justify-content: space-between;
}

.region-path {
    padding-top: 20px;
    font-size: 30px;
    display: flex;
}

.path-section {
    display: flex;
}

.path-name:hover {
    color: var(--blue);
    cursor: pointer;
}

.right-arrow {
    font-size: 45px;
}

.region-control {
    padding: 15px;
    font-size: 50px;
}

.region-control:hover {
    color: var(--blue);
    cursor: pointer;
}

.region-control-disabled {
    padding: 15px;
    font-size: 50px;
    filter: invert(0.6);
}

.spreadsheet-table {
    user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 850px;
    width: 100%;
    height: 80%;
    color: white;
    background-color: var(--dark-gray);
    overflow-x: auto;

    position: absolute;
}

.spreadsheet-header {
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    padding-right: 25px;
}

.spreadsheet-header h1 {
    text-align: center;
    padding: 10px 0px;
}

.control-col {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.header-col {
    display: flex;
    align-items: center;
}

.header-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sorting-arrow {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
}

.name-col {
    width: 17%;
}

.capital-col {
    width: 17%;
}

.leader-col {
    width: 21%;
}

.flag-col {
    width: 10%;
}

.landmarks-col {
    width: 30%;
}

.region-entry {
    display: flex;
    text-align: center;
    padding: 20px 0px;
    padding-right: 25px;
}

.region-entry-control {
    display: none;
}

.region-entry:hover > .control-col > .region-entry-control {
    display: flex;
}

.delete-entry:hover {
    cursor: pointer;
    color: var(--light-red);
}

.region-viewer {
    display: flex;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    min-width: 850px;
    width: 90%;
    height: 80%;
    color: white;

    justify-content: space-around;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.landmarks-form {
    user-select: none;
    width: 100%;
    height: 95%;
    color: white;
    background-color: var(--dark-gray);
}

.region-details {
    padding: 0px 40px;
    font-size: 25px;
    user-select: none;
    width: 100%;
    height: 95%;
    color: white;
    background-color: var(--dark-gray);
    overflow-y: auto;
}

.region-viewer-image {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    height: 400px;
    line-height: 300px;
    text-align: center;
}

.viewer-details {
    padding: 80px 0px;
}

.viewer-detail {
    padding: 10px 0px;
}

.landmarks-card {
    width: 35%;
}

.details-card {
    width: 55%;
}

.landmarks-card h1 {
    padding-left: 40px;
    background-color: var(--dark-blue);
}

.details-card h1 {
    padding-left: 40px;
    background-color: var(--dark-blue);
}

.maps-list {
    height: calc(100% - 50px);
}

.card h1 {
    text-align: left;
    padding: 20px 0px 10px 40px;
}

.form {
    padding: 0 40px;
    box-sizing: border-box;
}

.form-message {
    padding-top: 20px;
    color: white;
}

.maps-contents {
    padding-bottom: 40px;
    height: calc(100% - 79px);
}

.text-field {
    color: white;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-top: 40px;
}

.region-text-field {
    width: 13%;
    margin: 0 1%;
    color: white;
    position: relative;
    border-bottom: 2px solid #adadad;
}

.region-text-field-leader {
    width: 23%;
    margin: 0 1%;
    color: white;
    position: relative;
    border-bottom: 2px solid #adadad;
}

.add-landmark {
    display: flex;
    transform: translate(0px, -30px);
}

.add-landmark-button {
    padding-top: 6px;
    text-align: center;
    background-color: var(--dark-blue);
    width: 10%;
}

.add-landmark-button:hover {
    cursor: pointer;
    background-color:rgb(0, 48, 92);
}

.landmarks-text-field {
    width: 90%;
    height: 35px;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.638);
}

.text-field input {
    color: white;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
}

.region-text-field input {
    text-align: center;
    color: white;
    width: 100%;
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
}

.region-text-field-leader input {
    text-align: center;
    color: white;
    width: 100%;
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
}

.landmarks-text-field input {
    color: white;
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: transparent;
    outline: none;
}


.text-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
    top: -12px;
    color: #2691d9;
}

.form-buttons {
    justify-content: space-between;
    display: flex;
    padding: 40px 0px;
}

.form-button {
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 18px;
    width: 45%;
    height: 50px;
}

.create-new-map-button {
    margin: 20px 15%;
    width: 70%;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: rgb(145, 145, 145);
}

.map-entry {
    display: flex;
    font-size: 20px;
}

.map-entry:hover > .map-controls {
    display: flex;
}

.map-name {
    padding: 20px 40px;
    width: 75%;
}

.map-controls {
    display: none;
    justify-content: space-around;
    padding: 20px 10px;
    width: 25%;
}

.maps-list {
    overflow: auto;
}

.parent-region {
    display: flex;
}

.parent-name {
    padding-left: 10px;
    color: var(--blue);
}

.parent-name:hover {
    cursor: pointer;
    color: var(--dark-blue);
}

.change-parent {
    padding: 4px 0px 0px 25px;
}

.change-parent:hover {
    cursor: pointer;
    color: var(--blue);
}

.select-parent-region {
    color: white;
    width: 30%;
    margin-left: 10px;
    height: 35px;
    border: 1px solid #2b2b2b;
    font-size: 16px;
    background: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

select option {
    background-color: var(--dark-gray);
    color: white;
    border: 1px solid #2b2b2b;
    font-family: 'Poppins', sans-serif;;
}

.details-header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
}

.details-controls {
    padding: 3px 50px 0px 0px;
}

.view-control-disabled {
    filter: invert(0.6);
    font-size: 40px;
}

.view-control {
    font-size: 40px;
}

.view-control:hover {
    cursor: pointer;
}

.header-center h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

.landmark-entry {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.landmark-entry:hover {
    background-color: rgba(0, 0, 0, 0.404);
}

.landmark-name {
    width: 80%;
}

.landmark-controls {
    display: none;
}

.landmark-entry:hover > .landmark-controls {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.delete-landmark:hover {
    cursor: pointer;
    color: var(--light-red);
}